@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@import "tailwindcss";

@theme {
  --color-offwhite: #F6F3E9;
  --color-darkred: #822C2C;
  --color-mediumgray: #3A3835;
  --color-darkgray: #282624;
  --font-italiana: "Italiana", "sans-serif";
  --font-josefin: "Josefin Sans", "sans-serif";
}
